#java
*.class

#package file
*.war
*.ear
*.zip
*.tar.gz
*.rar
#maven ignore
target/
build/
logs/

#eclipse ignore
.settings/
.project
.classpatch

#Intellij idea
.idea/
/idea/
*.ipr
*.iml
*.iws
*/.idea/
# temp file
*.log
*.cache
*.diff
*.patch
*.tmp
*/.idea/

# system ignore
.DS_Store
Thumbs.db

# python
/venv/
